<h1>Edit Your Article</h1>

<%=form_for @article do |form| %>
	<%= form.label :title %>
	<%= form.text_field :title%>


	<%= form.label :body%>
	<%= form.text_field :body %>
	<%= form.submit %>
<%end%>
